In [1]:
%matplotlib
import pandas as pd

import matplotlib.pyplot as plt

Using matplotlib backend: MacOSX

In [2]:
# Import dataset 
mv_df = pd.read_csv('cleaned_data.csv')
pd.set_option('display.max_columns', None)
mv_df.head()

,title,rated,released,runtime,director,writer,actors,plot,language,country,awards,metascore,imdbrating,imdbvotes,dvd,boxoffice,response,genre,star,budget,gross,year,internet_movie_database_rating,rotten_tomato_rating,metacritic_rating
0,Inception,PG-13,2010-07-16,148,Christopher Nolan,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",A thief who steals corporate secrets through t...,"English, Japanese, French","United Kingdom, United States",Won 4 Oscars. 157 wins & 220 nominations total,74.0,8.8,2223702,07 Dec 2010,292576195.0,True,Action,Leonardo DiCaprio,160000000.0,836836967.0,2010,8.8,87.0,74.0
1,Iron Man 2,PG-13,2010-05-07,124,Jon Favreau,"Justin Theroux, Stan Lee, Don Heck","Robert Downey Jr., Mickey Rourke, Gwyneth Paltrow",With the world now aware of his identity as Ir...,"English, French, Russian",United States,Nominated for 1 Oscar. 7 wins & 44 nominations...,57.0,7.0,771885,17 Aug 2010,312433331.0,True,Action,Robert Downey Jr.,200000000.0,623933331.0,2010,7.0,72.0,57.0
2,Shutter Island,R,2010-02-19,138,Martin Scorsese,"Laeta Kalogridis, Dennis Lehane","Leonardo DiCaprio, Emily Mortimer, Mark Ruffalo","In 1954, a U.S. Marshal investigates the disap...","English, German",United States,11 wins & 66 nominations,63.0,8.2,1225928,08 Jun 2010,128012934.0,True,Mystery,Leonardo DiCaprio,80000000.0,294805697.0,2010,8.2,68.0,63.0
3,Scott Pilgrim vs. the World,PG-13,2010-08-13,112,Edgar Wright,"Michael Bacall, Edgar Wright, Bryan Lee O'Malley","Michael Cera, Mary Elizabeth Winstead, Kieran ...","In a magically realistic version of Toronto, a...",English,"United States, United Kingdom, Canada, Japan",17 wins & 64 nominations,69.0,7.5,409720,09 Nov 2010,32777690.0,True,Action,Michael Cera,60000000.0,48917974.0,2010,7.5,82.0,69.0
4,Grown Ups,PG-13,2010-06-25,102,Dennis Dugan,"Adam Sandler, Fred Wolf","Adam Sandler, Salma Hayek, Kevin James",After their high school basketball coach passe...,"English, Spanish",United States,3 wins & 4 nominations,30.0,6.0,242283,09 Nov 2010,162001186.0,True,Comedy,Adam Sandler,80000000.0,271457301.0,2010,6.0,11.0,30.0

In [3]:
# Check for any nulls
mv_df.isnull().sum()

title                               0
rated                              21
released                            0
runtime                             0
director                            8
writer                              3
actors                              0
plot                                0
language                            3
country                             1
awards                            120
metascore                           0
imdbrating                          0
imdbvotes                           0
dvd                                38
boxoffice                           0
response                            0
genre                               0
star                                0
budget                              0
gross                               0
year                                0
internet_movie_database_rating      0
rotten_tomato_rating                0
metacritic_rating                   0
dtype: int64

In [4]:
# Count number of row
print(len(mv_df))

1774

In [5]:
# Print out all columns
mv_df.columns

Index(['title', 'rated', 'released', 'runtime', 'director', 'writer', 'actors',
       'plot', 'language', 'country', 'awards', 'metascore', 'imdbrating',
       'imdbvotes', 'dvd', 'boxoffice', 'response', 'genre', 'star', 'budget',
       'gross', 'year', 'internet_movie_database_rating',
       'rotten_tomato_rating', 'metacritic_rating'],
      dtype='object')

In [6]:
# Select columns for ML models
cols = ['genre', 'metascore', 'imdbrating','internet_movie_database_rating',
       'rotten_tomato_rating', 'metacritic_rating', 'budget']

In [7]:
mv_drop_df = mv_df[cols].copy()
mv_drop_df

,genre,metascore,imdbrating,internet_movie_database_rating,rotten_tomato_rating,metacritic_rating,budget
0,Action,74.0,8.8,8.8,87.0,74.0,160000000.0
1,Action,57.0,7.0,7.0,72.0,57.0,200000000.0
2,Mystery,63.0,8.2,8.2,68.0,63.0,80000000.0
3,Action,69.0,7.5,7.5,82.0,69.0,60000000.0
4,Comedy,30.0,6.0,6.0,11.0,30.0,80000000.0
...,...,...,...,...,...,...,...
1769,Action,0.0,5.8,5.8,75.0,0.0,0.0
1770,Family,0.0,4.7,4.7,60.0,0.0,0.0
1771,Action,0.0,3.0,3.0,0.0,0.0,0.0
1772,Drama,0.0,4.8,4.8,0.0,0.0,0.0
1773,Drama,67.0,6.8,6.8,75.0,67.0,0.0

In [8]:
# Drop any nulls 
mv_drop_df = mv_drop_df.dropna()
mv_drop_df

,genre,metascore,imdbrating,internet_movie_database_rating,rotten_tomato_rating,metacritic_rating,budget
0,Action,74.0,8.8,8.8,87.0,74.0,160000000.0
1,Action,57.0,7.0,7.0,72.0,57.0,200000000.0
2,Mystery,63.0,8.2,8.2,68.0,63.0,80000000.0
3,Action,69.0,7.5,7.5,82.0,69.0,60000000.0
4,Comedy,30.0,6.0,6.0,11.0,30.0,80000000.0
...,...,...,...,...,...,...,...
1769,Action,0.0,5.8,5.8,75.0,0.0,0.0
1770,Family,0.0,4.7,4.7,60.0,0.0,0.0
1771,Action,0.0,3.0,3.0,0.0,0.0,0.0
1772,Drama,0.0,4.8,4.8,0.0,0.0,0.0
1773,Drama,67.0,6.8,6.8,75.0,67.0,0.0

In [9]:
mv_drop_df.columns

Index(['genre', 'metascore', 'imdbrating', 'internet_movie_database_rating',
       'rotten_tomato_rating', 'metacritic_rating', 'budget'],
      dtype='object')

In [10]:
col = ['imdbrating', 'genre', 'metascore', 'internet_movie_database_rating',
       'rotten_tomato_rating', 'metacritic_rating', 'budget']

In [11]:
mv_drop1_df = mv_drop_df[['imdbrating', 'genre', 'metascore', 'internet_movie_database_rating',
       'rotten_tomato_rating', 'metacritic_rating', 'budget']]

In [12]:
mv_drop1_df.to_csv('fin_data.csv')

In [13]:
# Encode categorical data to numerical
mv_encoded = pd.get_dummies(mv_drop1_df)
mv_encoded.shape

(1774, 22)

In [14]:
mv_encoded

,imdbrating,metascore,internet_movie_database_rating,rotten_tomato_rating,metacritic_rating,budget,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_Horror,genre_Musical,genre_Mystery,genre_Romance,genre_Sci-Fi,genre_Sport,genre_Thriller
0,8.8,74.0,8.8,87.0,74.0,160000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,7.0,57.0,7.0,72.0,57.0,200000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,8.2,63.0,8.2,68.0,63.0,80000000.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,7.5,69.0,7.5,82.0,69.0,60000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,6.0,30.0,6.0,11.0,30.0,80000000.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1769,5.8,0.0,5.8,75.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1770,4.7,0.0,4.7,60.0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1771,3.0,0.0,3.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1772,4.8,0.0,4.8,0.0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1773,6.8,67.0,6.8,75.0,67.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [15]:
a = mv_encoded.iloc[:, :1]
a

      imdbrating
0            8.8
1            7.0
2            8.2
3            7.5
4            6.0
...          ...
1769         5.8
1770         4.7
1771         3.0
1772         4.8
1773         6.8

[1774 rows x 1 columns]

In [16]:
b = mv_encoded.iloc[: , 1:22]
b

,metascore,internet_movie_database_rating,rotten_tomato_rating,metacritic_rating,budget,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_Horror,genre_Musical,genre_Mystery,genre_Romance,genre_Sci-Fi,genre_Sport,genre_Thriller
0,74.0,8.8,87.0,74.0,160000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,57.0,7.0,72.0,57.0,200000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,63.0,8.2,68.0,63.0,80000000.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,69.0,7.5,82.0,69.0,60000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,30.0,6.0,11.0,30.0,80000000.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1769,0.0,5.8,75.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1770,0.0,4.7,60.0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1771,0.0,3.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1772,0.0,4.8,0.0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1773,67.0,6.8,75.0,67.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [17]:
# Split data into features and target
X = mv_encoded.drop(columns=['imdbrating'], axis=1)
y = mv_encoded['imdbrating']

In [18]:
X[:1]

,metascore,internet_movie_database_rating,rotten_tomato_rating,metacritic_rating,budget,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_Horror,genre_Musical,genre_Mystery,genre_Romance,genre_Sci-Fi,genre_Sport,genre_Thriller
0,74.0,8.8,87.0,74.0,160000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
mv_encoded.drop(columns=['imdbrating'], axis=1)

,metascore,internet_movie_database_rating,rotten_tomato_rating,metacritic_rating,budget,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_Horror,genre_Musical,genre_Mystery,genre_Romance,genre_Sci-Fi,genre_Sport,genre_Thriller
0,74.0,8.8,87.0,74.0,160000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,57.0,7.0,72.0,57.0,200000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,63.0,8.2,68.0,63.0,80000000.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,69.0,7.5,82.0,69.0,60000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,30.0,6.0,11.0,30.0,80000000.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1769,0.0,5.8,75.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1770,0.0,4.7,60.0,0.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1771,0.0,3.0,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1772,0.0,4.8,0.0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1773,67.0,6.8,75.0,67.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [20]:
# Split data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state= 42)

In [21]:
X_test[:1]

,metascore,internet_movie_database_rating,rotten_tomato_rating,metacritic_rating,budget,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_Horror,genre_Musical,genre_Mystery,genre_Romance,genre_Sci-Fi,genre_Sport,genre_Thriller
999,40.0,5.6,31.0,40.0,30000000.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [22]:
# Standardize the datset
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [23]:
# set up linear regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [24]:
model.fit(X_train_scaled, y_train)

training_score = model.score(X_train_scaled, y_train)
testing_score = model.score(X_test_scaled, y_test)

In [25]:
training_score

1.0

In [26]:
testing_score

1.0

In [27]:
print(f'Actual:\t\t{list(y_test[:10])}')
print(f'Predicted:\t{list((model.predict(X_test[:10])/2).round(1))}')

Actual:		[5.6, 6.2, 7.2, 7.6, 6.9, 6.0, 6.1, 6.6, 7.8, 6.3]
Predicted:	[5.7, 6.0, 6.4, 6.6, 6.3, 5.9, 5.9, 6.2, 6.7, 6.0]