In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('one_hot_encode.csv')
df.head(5)

,title,rated,released,runtime,director,writer,actors,plot,language,country,...,Jessica Chastain,Chris Evans,Mark Ruffalo,Nicolas Cage,Chloë Grace Moretz,Johnny Depp,Kristen Stewart,Amy Adams,Robert De Niro,Chris Pine
0,Inception,PG-13,2010-07-16,148,Christopher Nolan,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",A thief who steals corporate secrets through t...,"English, Japanese, French","United Kingdom, United States",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iron Man 2,PG-13,2010-05-07,124,Jon Favreau,"Justin Theroux, Stan Lee, Don Heck","Robert Downey Jr., Mickey Rourke, Gwyneth Paltrow",With the world now aware of his identity as Ir...,"English, French, Russian",United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shutter Island,R,2010-02-19,138,Martin Scorsese,"Laeta Kalogridis, Dennis Lehane","Leonardo DiCaprio, Emily Mortimer, Mark Ruffalo","In 1954, a U.S. Marshal investigates the disap...","English, German",United States,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Scott Pilgrim vs. the World,PG-13,2010-08-13,112,Edgar Wright,"Michael Bacall, Edgar Wright, Bryan Lee O'Malley","Michael Cera, Mary Elizabeth Winstead, Kieran ...","In a magically realistic version of Toronto, a...",English,"United States, United Kingdom, Canada, Japan",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Grown Ups,PG-13,2010-06-25,102,Dennis Dugan,"Adam Sandler, Fred Wolf","Adam Sandler, Salma Hayek, Kevin James",After their high school basketball coach passe...,"English, Spanish",United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
for col in df.columns:
    print(col)

title
rated
released
runtime
director
writer
actors
plot
language
country
awards
ratings
metascore
imdbrating
imdbvotes
dvd
boxoffice
response
genre
star
budget
gross
year
internet_movie_database_rating
rotten_tomato_rating
metacritic_rating
United States
United Kingdom
France
Canada
China
Germany
Australia
Japan
India
Spain
English
Spanish
French
German
Russian
Italian
Japanese
Mandarin
Hindi
Arabic
Ukrainian
Korean
Hebrew
Swedish
Latin
Luc Besson
Nicholas Stoller
Jane Goldman
Allan Loeb
Stan Lee
Sean Anders
Brian Helgeland
Cinco Paul
Ken Daurio
Phil Hay
Sylvester Stallone
Nicholas Sparks
Woody Allen
John Morris
Matthew Vaughn
Ethan Reiff
Dan Fogelman
Matt Manfredi
Peter Straughan
Mark Bomback
Darren Lemke
Jennifer Lee
Jez Butterworth
Jonathan Aibel
Billy Ray
Evan Daugherty
Christopher Markus
Stephen McFeely
Steven Knight
Jeff Pinkner
Gary Dauberman
Christopher Nolan
Michael Bacall
Edgar Wright
Adam Sandler
Leigh Whannell
Joel Coen
Ethan Coen
Christopher McQuarrie
Simon Beaufoy
Adam McKay
Hans Christian Andersen
Chris Buck
Peter Morgan
Noah Baumbach
John-Henry Butterworth
Guillermo del Toro
Chris Morgan
Glenn Berger
Josh Appelbaum
Mark Wahlberg
Michael Fassbender
Liam Neeson
Dwayne Johnson
Steve Carell
Jennifer Lawrence
Owen Wilson
Scarlett Johansson
Matthew McConaughey
Gerard Butler
Matt Damon
Jonah Hill
Bradley Cooper
Keira Knightley
Ryan Reynolds
Emily Blunt
Channing Tatum
Chris Hemsworth
Tom Hardy
Robert Downey Jr.
Cate Blanchett
Emma Stone
Nicole Kidman
Seth Rogen
Anna Kendrick
Kevin Hart
Jesse Eisenberg
Helen Mirren
Robert Pattinson
Joel Edgerton
Rachel McAdams
Rachel Weisz
Naomi Watts
Jake Gyllenhaal
Hugh Jackman
Russell Crowe
Michelle Williams
James Franco
Anne Hathaway
Zac Efron
Jessica Chastain
Chris Evans
Mark Ruffalo
Nicolas Cage
Chloë Grace Moretz
Johnny Depp
Kristen Stewart
Amy Adams
Robert De Niro
Chris Pine

In [4]:
df.isnull().sum()

title                 0
rated                21
released              0
runtime               0
director              8
                   ...
Johnny Depp        1763
Kristen Stewart    1763
Amy Adams          1763
Robert De Niro     1763
Chris Pine         1763
Length: 151, dtype: int64

In [5]:
df["rated"].fillna("NA", inplace = True)
df["director"].fillna("NA", inplace = True)
df["writer"].fillna("NA", inplace = True)
df["language"].fillna("NA", inplace = True)
df["country"].fillna("NA", inplace = True)
df["awards"].fillna("NA", inplace = True)
df["metascore"].fillna(0, inplace = True)
df["dvd"].fillna("NA", inplace = True)
df["boxoffice"].fillna(0, inplace = True)
df["budget"].fillna(0, inplace = True)
df["gross"].fillna(0, inplace = True)
# df.fillna(0, inplace=True)

df.isnull().sum()

title                 0
rated                 0
released              0
runtime               0
director              0
                   ...
Johnny Depp        1763
Kristen Stewart    1763
Amy Adams          1763
Robert De Niro     1763
Chris Pine         1763
Length: 151, dtype: int64

In [6]:
movie = df.drop(columns = ['title', 'released','runtime','writer','actors','plot','language','country','awards','ratings','metascore','imdbvotes','dvd','response','year','boxoffice','internet_movie_database_rating','rotten_tomato_rating','budget','gross','metacritic_rating'], axis=1)
movie.head(5)

,rated,director,imdbrating,genre,star,United States,United Kingdom,France,Canada,China,...,Jessica Chastain,Chris Evans,Mark Ruffalo,Nicolas Cage,Chloë Grace Moretz,Johnny Depp,Kristen Stewart,Amy Adams,Robert De Niro,Chris Pine
0,PG-13,Christopher Nolan,8.8,Action,Leonardo DiCaprio,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PG-13,Jon Favreau,7.0,Action,Robert Downey Jr.,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R,Martin Scorsese,8.2,Mystery,Leonardo DiCaprio,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PG-13,Edgar Wright,7.5,Action,Michael Cera,1.0,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PG-13,Dennis Dugan,6.0,Comedy,Adam Sandler,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df2 = movie.drop(columns=['imdbrating'], axis=1)
df2.head(5)

,rated,director,genre,star,United States,United Kingdom,France,Canada,China,Germany,...,Jessica Chastain,Chris Evans,Mark Ruffalo,Nicolas Cage,Chloë Grace Moretz,Johnny Depp,Kristen Stewart,Amy Adams,Robert De Niro,Chris Pine
0,PG-13,Christopher Nolan,Action,Leonardo DiCaprio,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PG-13,Jon Favreau,Action,Robert Downey Jr.,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R,Martin Scorsese,Mystery,Leonardo DiCaprio,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PG-13,Edgar Wright,Action,Michael Cera,1.0,1.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PG-13,Dennis Dugan,Comedy,Adam Sandler,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
classonly = df2[['rated','director','genre','star']]
classonly.head(5)

   rated           director    genre               star
0  PG-13  Christopher Nolan   Action  Leonardo DiCaprio
1  PG-13        Jon Favreau   Action  Robert Downey Jr.
2      R    Martin Scorsese  Mystery  Leonardo DiCaprio
3  PG-13       Edgar Wright   Action       Michael Cera
4  PG-13       Dennis Dugan   Comedy       Adam Sandler

In [9]:
classonly[classonly['rated']=='PG-13']

      rated           director      genre                 star
0     PG-13  Christopher Nolan     Action    Leonardo DiCaprio
1     PG-13        Jon Favreau     Action    Robert Downey Jr.
3     PG-13       Edgar Wright     Action         Michael Cera
4     PG-13       Dennis Dugan     Comedy         Adam Sandler
9     PG-13        David Yates  Adventure     Daniel Radcliffe
...     ...                ...        ...                  ...
1742  PG-13       Ritesh Batra      Drama  Nawazuddin Siddiqui
1745  PG-13          Tony Chan     Action       Xiaoming Huang
1762  PG-13      Aneesh Daniel      Drama        Sharman Joshi
1764  PG-13     Ariel Winograd     Comedy      Martha Higareda
1767  PG-13        Mitch Davis  Adventure   Christopher Gorham

[596 rows x 4 columns]

In [10]:
classonly.loc[classonly['rated'] == 'TV-MA', 'rated'] = 'R'
classonly.loc[classonly['rated'] == 'NC-17', 'rated'] = 'R'
classonly.loc[classonly['rated'] == 'TV-14', 'rated'] = 'PG-13'
classonly.loc[classonly['rated'] == 'TV-PG', 'rated'] = 'PG'
classonly.loc[classonly['rated'] == 'Not Rated', 'rated'] = 'NA'
classonly.loc[classonly['rated'] == 'Unrated', 'rated'] = 'NA'

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [11]:
classonly['rated'].value_counts()

R        821
PG-13    602
PG       198
NA       142
G         11
Name: rated, dtype: int64

In [12]:
stars = classonly.star.value_counts()
stars

Mark Wahlberg          13
Matthew McConaughey    12
Liam Neeson            12
Matt Damon             12
Steve Carell           12
                       ..
Rolf Lassgård           1
Chase Williamson        1
Noomi Rapace            1
John Hawkes             1
Demián Bichir           1
Name: star, Length: 931, dtype: int64

In [13]:
stars_filter = stars[stars<10]
stars_filter

Jennifer Lawrence       9
Nicolas Cage            9
Joseph Gordon-Levitt    9
Michael Fassbender      9
Jason Bateman           9
                       ..
Rolf Lassgård           1
Chase Williamson        1
Noomi Rapace            1
John Hawkes             1
Demián Bichir           1
Name: star, Length: 922, dtype: int64

In [14]:
stars_replace = stars[stars<10].index.to_list()
for star in stars_replace:
  classonly['star'] =  classonly['star'].replace(star,'Others')

classonly['star'].value_counts()

<ipython-input-14-f6686e96d3ed>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  classonly['star'] =  classonly['star'].replace(star,'Others')

Others                 1673
Mark Wahlberg            13
Liam Neeson              12
Matthew McConaughey      12
Matt Damon               12
Steve Carell             12
Robert Downey Jr.        10
Adam Sandler             10
Channing Tatum           10
Jesse Eisenberg          10
Name: star, dtype: int64

In [15]:
classonly

      rated               director    genre               star
0     PG-13      Christopher Nolan   Action             Others
1     PG-13            Jon Favreau   Action  Robert Downey Jr.
2         R        Martin Scorsese  Mystery             Others
3     PG-13           Edgar Wright   Action             Others
4     PG-13           Dennis Dugan   Comedy       Adam Sandler
...     ...                    ...      ...                ...
1769     NA  Jason Kwan, Jing Wong   Action             Others
1770     NA     Dylan Thomas Ellis   Family             Others
1771      R      Jeffrey Nicholson   Action             Others
1772     NA     David Stuart Snell    Drama             Others
1773     NA           Monia Chokri    Drama             Others

[1774 rows x 4 columns]

In [16]:
classonly['director'].value_counts()

Ridley Scott         10
Robert Schwentke      8
NA                    8
Woody Allen           7
Steven Spielberg      7
                     ..
Francis Lee           1
Akiva Goldsman        1
Floria Sigismondi     1
Stefano Sollima       1
Tommy Wirkola         1
Name: director, Length: 1113, dtype: int64

In [17]:
classonly[classonly['director'] == 'NA']

      rated director   genre    star
316   PG-13       NA  Comedy  Others
476       R       NA  Horror  Others
1299  PG-13       NA  Action  Others
1300  PG-13       NA  Action  Others
1318  PG-13       NA   Drama  Others
1319  PG-13       NA   Drama  Others
1618     PG       NA   Drama  Others
1726      R       NA  Action  Others

In [33]:
directors = classonly.director.value_counts()
director_filter = directors[directors>=5]
director_filter

Ridley Scott                10
NA                           8
Robert Schwentke             8
Clint Eastwood               7
Steven Spielberg             7
Woody Allen                  7
Antoine Fuqua                6
Ruben Fleischer              6
Denis Villeneuve             5
Paul W.S. Anderson           5
Peter Berg                   5
Ron Howard                   5
Tim Burton                   5
Shawn Levy                   5
Jonathan Levine              5
Steven Soderbergh            5
Daniel Espinosa              5
Nicholas Stoller             5
Francis Lawrence             5
Chris Buck, Jennifer Lee     5
David Yates                  5
Doug Liman                   5
Michael Bay                  5
Brad Peyton                  5
James Wan                    5
Joe Wright                   5
Luc Besson                   5
Name: director, dtype: int64